body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.color-panel {
  display: flex;
  padding: 10px;
  background-color: darkgray;
  color: black;  
  height: 100vh;
  align-items: flex-start;
  margin: 0 auto;
}

label, button .color-panel {
  margin-right: 20px;
}

select {
  margin-left: 5px;
}